@(tasks: List[Task], taskForm: Form[models.Task])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Todo List") {

    <h1>@tasks.size task(s)</h1>

    <ul>
        @tasks.map { task =>
            <li>
                @task.name
                @task.comments
                @task.completed

                @form(routes.HomeController.edit(task.id.getOrElse(0))) {
                    <input type="submit" value="Edit">
                }
                @form(routes.HomeController.deleteTask(task.id.getOrElse(0))) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>

    <h2>Add a new task</h2>

    @form(routes.HomeController.newTask) {

        @inputText(taskForm("name"))
        @inputText(taskForm("comments"))
        @checkbox(taskForm("completed"))

        <input type="submit" value="Create">

    }

}
